.App {
    background-color: #FFFFFF;
    margin-top: 70px;
}

.hw {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #D9D9D9;
    border-top: 1px solid #D9D9D9;
    padding-top: 37px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 73px;
    max-width: 100%;
    margin: 0 auto;
}

.hwTitle {
    font-weight: 600;
    font-size: 22px;
    height: 74px;

    position: static;
    padding-left: 70px;
    padding-top: 37px;
    background-color: #FFFFFF;
}

:root {
    background-color: #FFFFFF;
}